{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% block content %}
<nav class="navbar navbar-dark bg-dark">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/polls/index">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/polls/create">Create Tournament</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/polls/logout">Logout</a>
  </li>
</ul>
</nav>
<div class="container login">
<form method="POST" action="{% url 'polls:login' %}">
    {% csrf_token %}
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" id="username" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="text" id="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>

    <button class="btn btn-primary login" type="submit" value="login">Login</button><br>
    <a class="btn btn-primary login"  href="/polls/signup">Sign Up</a>
</form>
</div>
{% endblock %}