{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% block content %}
<nav class="navbar navbar-dark bg-dark">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/polls/index">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/polls/create">Create Tournament</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/polls/highscores">Highscores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/polls/logout">Logout</a>
  </li>
</ul>
</nav>
<div class="container">
<h1 class="tournament_title">{{tournament.name}}</h1><br>
<h2>Queston {{question_num}}:</h2>
<h3 class="question">{{ question.question_text|safe }}</h3>
<form method="POST" action="{% url 'polls:check_answer' %}">
    {% csrf_token %}
    {% for a in answers %}
        <input type="radio" class="radio" name="answers" value="{{ a.answer_text }}">{{ a.answer_text|safe }}<br>
    {% endfor %}
    <br>
    <button class="btn btn-primary login" type="submit" value="checkans">Check Answer</button>
    <input type="hidden" name="tournament_id" value="{{ tournament.id }}">
    <input type="hidden" name="question" value="{{ question }}">
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
</div>
</div>
{% endblock %}